<input id="menu" type="checkbox"></input>
<label for="menu" class="menu__symbol"><span></span></label>
<header class="sidebar">
  <div class="contact">
    CONTACT
    <a href="/letswork/" class="contact__link">New Business</a>
    <a href="mailto:herrera.jeffrey@gmail.com?Subject=Hi There!" class="contact__link">General</a>
  </div>
  <nav class="nav">
    <a href="/" class="nav__link">Work</a>
    <a href="/about/" class="nav__link">About</a>
    <a href="/blog/" class="nav__link">Blog</a>
  </nav>
  <div class="social">
    FOLLOW
    <a href="http://www.twitter.com/isthatjeff" class="social__link">Twitter</a>
    <a href="http://www.instagram.com/_isthatjeff" class="social__link">Instagram</a>
  </div>
</header>
