<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    {{ partial "meta" . }}
    {{ partial "favicons" . }}
    {{ partial "analytics" . }}
    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
    <title>{{if eq .URL "/" }}{{ $.Site.Title }}{{else}}{{.Page.Title}} - {{$.Site.Title}}{{end}}</title>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
{{ if $.Scratch.Get "dark" }}<body class="dark">{{ else }}<body>{{ end }}
