
/***********************************************************/
/*********************** BREAKPOINTS ***********************/
/***********************************************************/

@custom-media --s (max-width: 544px);
@custom-media --m (max-width: 768px);
@custom-media --l (max-width: 992px);
@custom-media --xl (max-width: 1200px);





/******************************************************/
/*********************** COLORS ***********************/
/******************************************************/

$background: #f2f5f7;
$ease: all .3s ease-in-out;
$c-brand: #fcda00;
$c-gray-dark: #222222;
$c-gray-light: #DDDDDD;
$c-text: #808080;
$c-text-darkbg: #9C9C9C;





/*******************************************************/
/*********************** UTILITY ***********************/
/*******************************************************/

$gutter: 16px;
$gutter2: 32px;
$gutter3: 48px;
$gutter4: 64px;
$gutter5: 80px;
$font-s: 12px;
$font-l: 20px;
$font-s-tracking: 0.007em;
$font-l-tracking: -0.013em;





/*************************************************************/
/*********************** GRID SETTINGS ***********************/
/*************************************************************/

@lost gutter 16px;
@lost flexbox flex;
